.footer{
    height: 120px;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 26px;

    a{
        float: left;
        padding-left: 15px;
    }

    ul{
        padding-right: 15px;
        float: right;
    }

    span{
        color: #e12d80;
    }
}
